{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_current %}
    {% if shopware.config.SyseaPaymentAndShippingDisplay.config.displayCurrentPaymentSelection %}
        {{ parent() }}
    {% else %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_payment_modal_toggle %}
    {% if shopware.config.SyseaPaymentAndShippingDisplay.config.displayPaymentChangeButton %}
        {{ parent() }}
    {% else %}
        {% block page_checkout_change_payment_form %}
            {% set action = 'frontend.checkout.configure' %}
            {% set redirect = 'frontend.checkout.confirm.page' %}
            {% set customerCanceled = false %}
            {% if page.errorCode is not null %}
                {% if page.errorCode is same as("CHECKOUT__CUSTOMER_CANCELED_EXTERNAL_PAYMENT") %}
                    {% set customerCanceled = true %}
                    {% set action = 'frontend.account.edit-order.change-payment-method' %}
                {% endif %}
            {% endif %}
            <form id="confirmPaymentForm"
                  name="confirmPaymentForm"
                  action="{% if customerCanceled %}{{ path('frontend.account.edit-order.change-payment-method', {'orderId': page.order.id}) }}{% else %}{{ path(action) }}{% endif %}"
                  data-form-csrf-handler="true"
                  {% if shopware.config.SyseaPaymentAndShippingDisplay.config.compatibilityMode == false %}data-sysea-autoconfirm="true"{% endif %}
                  method="post" data-sysea-payment-display="true"{% if shopware.config.SyseaPaymentAndShippingDisplay.config.displayPaymentImages == false %} class="sysea-hide-payment-images"{% endif %}>

                {% block page_checkout_change_payment_form_csrf %}
                    {{ sw_csrf(action) }}
                {% endblock %}

                {% block page_checkout_change_payment_form_redirect %}
                    {% if customerCanceled %}
                    {% else %}
                        <input type="hidden" name="redirectTo" value="{{ redirect }}">
                    {% endif %}
                {% endblock %}

                {% block page_checkout_change_payment_form_fields %}
                    {% sw_include '@Storefront/storefront/component/payment/payment-fields.html.twig' with {
                        'defaultPaymentMethodId': context.paymentMethod.id,
                    } %}
                    <div class="sysea-confirm-payment-method clearfix" id="sysea-payment-confirm">
                        <button type="submit" class="btn btn-primary btn-sm float-right">
                            {{ "sysea.confirmMethod"|trans|sw_sanitize }}
                            {% sw_icon 'arrow-right' style { 'size': 'xs' } %}
                        </button>
                    </div>
                {% endblock %}

                {% block page_checkout_change_payment_form_submit %}
                {% endblock %}

                {% block page_checkout_change_payment_cancel %}
                {% endblock %}

            </form>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_payment_modal %}
{% endblock %}