.sysea-hide-payment-images {
  .payment-methods {
    .payment-method-label {
      img {
        display: none !important;
      }
    }
  }
}

.sysea-hide-shipping-images {
  .confirm-shipping-fields {
    .shipping-method-label {
      img {
        display: none !important;
      }
    }
  }
}

#confirmShippingForm {
  .confirm-shipping-fields {
    .shipping-method-label {
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.sysea-confirm-payment-method {
  height: 0;
  opacity: 0;
  transition: .25s;
  overflow: hidden;
}

.payment-form-group {
  .custom-control {
    .sysea-confirm-payment-method {
      opacity: 1;
      height: auto;
      clear: both;
      padding-top: 5px;
      .icon {
        > svg {
          top: 3px;
          right: 0;
        }
      }
    }
  }
}